<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
<head>

<!-- common js and css are loaded here by upper layer -->

<!-- custom elements in <head> tag -->
<!-- ckeditor.js -->
<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<!-- <script src="../bower_components/ckEditor-full/ckeditor.js" th:src="@{/bower_components/ckEditor-full/ckeditor.js}"></script> -->

<!-- sockjs.js -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.0/sockjs.min.js" type="text/javascript"></script> -->
<script src="../bower_components/sockjs-client/dist/sockjs-1.1.1.min.js" th:src="@{/bower_components/sockjs-client/dist/sockjs-1.1.1.min.js}"></script>
<script src="../bower_components/stomp-websocket/lib/stomp.min.js" th:src="@{/bower_components/stomp-websocket/lib/stomp.min.js}"></script>

<!-- custom css -->
<link href="../css/board/board.css" th:href="@{/css/board/board.css}" rel="stylesheet" type="text/css" />
<title>board</title>
</head>
<body>
	<!-- Substitution of 'body' on upper layer -->
	<div layout:fragment="body" id="container" class="container-fluid">
	
		<nav id="navBar" class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div id="navBarContainer" class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button id="collapseBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#colla-collapse-default_chat">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="btn-group visible-xs-block pull-right">
						<button id="mobileStatus" name="status" type="button" class="btn btn-primary navbar-btn">
							<span>Mobile</span>
							<span id="mobileStatusBadge" class="badge">0</span>
						</button>
					</div>
					<a id="IMCollaBtn" class="navbar-brand btn" data-toggle="modal" data-target="#mainModal">
						<span>IMColla</span>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div id="colla-collapse-default_chat" class="collapse navbar-collapse">
					<!-- form -->
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input id="boardIdIdsplay" type="text" class="form-control" placeholder="test" th:value="${#httpServletRequest.getAttribute('boardId')}" disabled="disabled" />
							<input id="boardId" th:value="${#httpServletRequest.getAttribute('boardId')}" type="hidden" />
							<input id="boardOwner" th:value="${#httpServletRequest.getAttribute('boardOwner')}" type="hidden" />
							<input id="boardMemoSize" th:value="${#httpServletRequest.getAttribute('boardMemoSize')}" type="hidden" />
							<input id="boardHistorySize" th:value="${#httpServletRequest.getAttribute('boardHistorySize')}" type="hidden" />
						</div>
						<div id="btnGroup1" class="btn-group" role="group" aria-label="...">
							<!--
							<div class="btn-group" role="group">
								<button id="" type="button" class="btn btn-success">
									<span>test</span>
								</button>
							</div>
							-->
						</div>
					</form>

					<!-- navbar left -->
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span>Go to</span>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a id="Index" href="/index.html" th:href="@{/index}">
										<span>Index</span>
									</a>
								</li>
								
								<li>
									<a id="Main" href="../member/member_main" th:href="@{/member/member_main}">
										<span>Main</span>
									</a>
								</li>
								
								<!--
								<li>
									<a id="showHeights">
										<span>show heights</span>
									</a>
								</li>
								-->
							</ul>
						</li>
						<!-- /.dropdown -->
						
						<hr class="visible-xs-block" />
						
						<!-- user utility button -->
						<!-- mobile view -->
						<li th:replace="fragments/userUtilityButtons :: userUtilityButtonMobileFragment"></li>
						<!-- /.visible-xs-block -->
						<!-- /mobile view -->
						
						
					</ul>
					<!-- /.navbar-left -->

					<!-- navbar right -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<button id="basicStatus" name="status" type="button" class="btn btn-primary navbar-btn hidden-xs">
								<span>Basic</span>
								<span id="basicStatusBadge" class="badge">0</span>
							</button>
						</li>
						
						
						<!-- member utility button -->
						<!-- desktop view -->
						<li th:replace="fragments/userUtilityButtons :: userUtilityButtonDesktopFragment1"></li>
						<li th:replace="fragments/userUtilityButtons :: userUtilityButtonDesktopFragment2"></li>
						
						
					</ul>
					<!-- /.navbar-right -->
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- /.navbar -->
		
<!-- ========================================================================================================================================== -->

		<div id="mainRow" class="row">
			<div id="editorContainer" class="col-sm-9 container-fluid">
				<div id="formGroup1" class="form-group">
					<div id="basicEditorDiv" class="hidden-xs">
						<div id="basicEditor" class="form-control">
						</div>
					</div>
					<div id="mobileEditorDiv" class=""> <!-- visible-xs-block -->
						<div id="mobileEditor" class="form-control" contenteditable="true">
						</div>
					</div>
					<div id="boardContentFromServer" style="display: none" th:text="${boardContent}"></div>
				</div>
				<!-- /.from-group -->
				
				<div id="editorBtnGroupDiv" class="pull-right">
					<div id="btnGroup2" class="btn-group" role="group" aria-label="">
						
						<div class="btn-group" role="group">
							<button id="editorInputBtn" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-send"></span>
							</button>
						</div>
						
						<div class="btn-group" role="group">
							<button id="editorSaveBtn" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</button>
						</div>
						
						<div class="btn-group" role="group">
							<button id="toolbarToggleBtn" type="button" class="btn btn-primary visible-xs-inline-block" data-toggle="button">
								<span id="toolbarToggle" class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>
							</button>
						</div>
						
						<div class="btn-group" role="group">
							<button id="chatNotifyToggleBtn" type="button" class="btn btn-primary" data-toggle="button">
								<span id="chatNotifyToggle" class="glyphicon glyphicon-eye-close"></span>
							</button>
						</div>
						
					</div>
					<!-- /.btnGroup2 -->
				</div>
				<!-- /#editorBtnGroupDiv -->
			</div>
			<div id="chatContainer" class="col-sm-3 container-fluid">
				<div id="formGroup2" class="form-group">
					<textarea id="chatArea" class="form-control" readonly="readonly"></textarea>
				</div>
				<div id="formGroup3" class="form-group">
					<input id="chatInput" name="chatInput" type="text" class="form-control" placeholder="대화 내용을 입력해주세요" />
					<!-- "javascript:if(event.keyCode==13){send();}" onkeypress="send2(event)" -->
				</div>
				<div>
					<button id="chatInputBtn" type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-send"></span>
						&nbsp;
						<span>Send</span>
					</button>
				</div>
				
			</div>
			<!-- /#chatContainer.container-fluid -->
		</div>
		<!-- /#mainRow.row -->

<!-- ========================================================================================================================================== -->

		<!-- Main modal -->
		<div id="mainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
						
							<li role="presentation" class="active">
								<a href="#mainModal_tabContent1" data-toggle="tab" aria-controls="tabContent1" role="tab">
									<span>Schedule</span>
								</a>
							</li>
						
							<!--
							<li role="presentation">
								<a href="#mainModal_tabContent2" data-toggle="tab" aria-controls="tabContent2" role="tab">
									<span>test</span>
								</a>
							</li>
							-->
						 
							<li id="memoTabLi" role="presentation">
								<a id="memoTab" href="#mainModal_tabContent3" data-toggle="tab" aria-controls="tabContent3" role="tab">
									<span>Memo</span>
								</a>
							</li>
						
							<li role="presentation">
								<a href="#mainModal_tabContent4" data-toggle="tab" aria-controls="tabContent4" role="tab">
									<span>Member</span>
								</a>
							</li>
						
						</ul>
						<!-- /.Nav tabs -->
						
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
					
						<!-- Tab-content -->
						<div class="tab-content">
						
							<!-- tab content 1 -->
							<div id="mainModal_tabContent1" class="tab-pane fade in active" role="tabpanel">
								<div class="panel panel-info">
								
									<div class="panel-heading">
										<ul class="nav nav-pills" role="tablist">
										
											<li role="presentation" class="active">
												<a href="#mainModal_tabContent1_calendar1" data-toggle="tab">
													<span class="glyphicon glyphicon-calendar"></span>
													&nbsp;
													<span>Basic</span>
												</a>
											</li>
											
											<li role="presentation">
												<a href="#mainModal_tabContent1_calendar2" data-toggle="tab">
													<span class="glyphicon glyphicon-list-alt"></span>
													&nbsp;
													<span>Year</span>
												</a>
											</li>
											
										</ul>
										<!-- /.nav.nav-pills -->
										
									</div>
									<!-- /.panel-heading -->
									
									<div class="panel-body">
										<div class="tab-content">
										
											<div id="mainModal_tabContent1_calendar1" class="tab-pane fade in active" role="tabpanel">
												<div id="basicCalendarDiv" class="container-fluid">
													<div id="basicCalendar"></div>
												</div>
											</div>
											<!-- /.tab-pane -->
											
											<div id="mainModal_tabContent1_calendar2" class="tab-pane fade" role="tabpanel">
												<div id="yearlyCalendarDiv" class="container-fluid">
													<div id="yearlyCalendar"></div>
												</div>
											</div>
											<!-- /.tab-pane -->
											
										</div>
										<!-- /.tab-content -->
										
									</div>
									<!-- /.panel-body-->
									
									<!--
									<div class="panel-footer">
										<span>Panel footer</span>
									</div>
									-->
									<!-- /.panel-footer -->
									
								</div>
								<!-- /.panel -->
							</div>
							<!-- /.tab-pane#tabContent1 -->
							
							<!--
							<div id="mainModal_tabContent2" class="tab-pane fade" role="tabpanel">
								<div class="panel panel-primary">
									
									<div class="panel-heading">
										<span>Panel content</span>
									</div>
									
									<div class="panel-body">
										<div id="listAccordion" class="panel-group">
											<div class="panel panel-default">
												
												<div class="panel-heading">
													<h4 class="panel-title">
														<a class="collapsed" data-toggle="collapse" data-parent="#listAccordion" href="#content1">
															<span>title 1</span>
														</a>
														<button type="button" class="close">
															<span class="glyphicon glyphicon-remove-sign"></span>
														</button>
														<span class="close">&nbsp;</span>
														<button type="button" class="close">
															<span class="glyphicon glyphicon-edit"></span>
														</button>
													</h4>
												</div>
												
												<div id="content1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="memoListHeading1">
													<div class="panel-body">Accordion test 1</div>
												</div>
												
											</div>
										</div>
									</div>
									
									<div class="panel-footer">
										<button id="listDelBtn" class="btn btn-primary">
											<span>Delete all</span>
										</button>
									</div>
									
								</div>
							</div>
							-->
							 
							<!-- tab content 3 -->
							<div id="mainModal_tabContent3" class="tab-pane fade" role="tabpanel">
								<div class="panel panel-info">
								
									<div class="panel-heading">
										<ul class="nav nav-pills" role="tablist">
										
											<li role="presentation" class="active">
												<a id="memoWriteTab" href="#mainModal_tabContent3_memoContent1" data-toggle="tab" aria-controls="memo writing" role="tab">
													<span class="glyphicon glyphicon-edit"></span>
													&nbsp;
													<span>Write</span>
												</a>
											</li>
											
											<li role="presentation">
												<a href="#mainModal_tabContent3_memoContent2" data-toggle="tab" aria-controls="memo list" role="tab">
													<span class="glyphicon glyphicon-th-list"></span>
													&nbsp;
													<span>List</span>
												</a>
											</li>
											
										</ul>
										<!-- /.nav.nav-pills -->
									</div>
									<!-- /.panel-heading -->
									
									<div class="panel-body">
										<div class="tab-content">
										
											<div id="mainModal_tabContent3_memoContent1" class="tab-pane fade in active" role="tabpanel">
												<div class="form-group">
													<input name="memoTitle" class="form-control" type="text" placeholder="Memo title" required="required" />
													<div class="help-block">Length : 1 ~ 200 (no blank)</div>
												</div>
												
												<div id="memoEditorDiv">
													<div id="memoEditor" class="form-control form-group" contenteditable="true"></div>
												</div>
												
												<div class="pull-right">
													<button id="memoSaveBtn" type="button" class="btn btn-primary">
														<span class="glyphicon glyphicon-floppy-disk"></span>
														&nbsp;
														<span>Save</span>
													</button>
												</div>
											</div>
											<!-- /.tab-pane -->
											
											<div id="mainModal_tabContent3_memoContent2" class="tab-pane fade form-group" role="tabpanel">
												
												<div id="memoListAccordion" class="panel-group" role="tablist" aria-multiselectable="true">
													<div class="jumbotron text-center">
														<h2>No memo</h2>
													</div>
												</div>
												<!-- /#memoListAccordion.panel-group -->

												<div id="memoPagination-bootpag" class="text-center"></div>

											</div>
											<!-- /.tab-pane -->
											
										</div>
										<!-- /.tab-content -->
									</div>
									<!-- /.panel-body -->
									
									<div class="panel-footer">
										<button id="memoRefreshBtn" class="btn btn-primary">
											<span class="glyphicon glyphicon-refresh"></span>
											&nbsp;
											<span>Refresh</span>
										</button>
									</div>
									<!-- /.panel-footer -->
									
								</div>
								<!-- /.panel -->
							</div>
							<!-- /.tab-pane#tabContent3 -->

							<!-- tab content 4 -->
							<div id="mainModal_tabContent4" class="tab-pane fade" role="tabpanel">
								<div class="panel panel-info">
									
									<div class="panel-heading">
										<ul class="nav nav-pills" role="tablist">
										
											<li role="presentation" class="active">
												<a href="#mainModal_tabContent4_participant1" data-toggle="tab" role="tab">
													<span class="glyphicon glyphicon-user"></span>
													&nbsp;
													<span>Now</span>
												</a>
											</li>
											
											<li role="presentation">
												<a href="#mainModal_tabContent4_participant2" data-toggle="tab" role="tab">
													<span class="glyphicon glyphicon-time"></span>
													&nbsp;
													<span>History</span>
												</a>
											</li>
											
										</ul>
										<!-- /.nav.nav-pills -->
									</div>
									<!-- /.panel-heading -->
									
									<div class="panel-body">
									
										<div class="tab-content">
										
											<div id="mainModal_tabContent4_participant1" class="tab-pane fade in active" role="tabpanel">

												<div class="table-responsive">
													<table id="joinMemberTable" class="table table-hover table-striped">
														<thead>
															<tr>
																<th>
																	<span>Username</span>
																</th>
																<th>
																	<span>Email</span>
																</th>
																<th>
																	<span>Role</span>
																</th>
															</tr>
														</thead>
														<tbody id="joinMemberTableTbody"></tbody>
													</table>
												</div>
												<!-- /.table-responsive -->

												<!--
												<div class="pull-right">
													<button type="button" class="btn btn-primary">
														<span class="glyphicon glyphicon-floppy-disk"></span>
														&nbsp;
														<span>Button</span>
													</button>
												</div>
												-->
												
											</div>
											<!-- /.tab-pane -->
											
											<div id="mainModal_tabContent4_participant2" class="tab-pane fade form-group" role="tabpanel">
												
												<div class="table-responsive">
													<table id="boardHistoryTable" class="table table-hover table-striped">
														<thead>
															<tr>
																<th>
																	<span>Username</span>
																</th>
																<th>
																	<span>History</span>
																</th>
																<th>
																	<span>Date</span>
																</th>
															</tr>
														</thead>
														<tbody id="boardHistoryTableTbody"></tbody>
													</table>
												</div>
												<!-- /.table-responsive -->
												
												<div id="historyPagination-bootpag" class="text-center"></div>
												
											</div>
											<!-- /.tab-pane -->
											
										</div>
										<!-- /.tab-content -->
										
									</div>
									<!-- /.panel-body -->
									
									<div class="panel-footer">
										<button id="joinMemberRefreshBtn" class="btn btn-primary">
											<span class="glyphicon glyphicon-refresh"></span>
											&nbsp;
											<span>Refresh</span>
										</button>
									</div>
									<!-- /.panel-footer -->
									
								</div>
								<!-- /.panel -->
							</div>
							<!-- /.tab-pane#tabContent4 -->
						</div>
						<!-- /.tab-content -->
						
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span>Close</span>
						</button>
					</div>
					<!-- /.modal-footer -->
					
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

<!-- ========================================================================================================================================== -->

		<!-- sub modal in memo panel -->
		<div id="memoUpdateSubModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				
					<input name="memoUpdateId" type="hidden" />	
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Memo update</h4>
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
						<div id="memoUpdateDiv" class="tab-pane fade in active" role="tabpanel">
							<div class="form-group">
								<input name="memoTitle" class="form-control" type="text" placeholder="Memo title" required="required" />
								<div class="help-block">no blank</div>
							</div>
							
							<div id="memoUpdateEditorDiv">
								<div id="memoUpdateEditor" class="form-control form-group" contenteditable="true"></div>
							</div>
							
						</div>
						<!-- /.tab-pane -->
				
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button id="memoUpdateSaveBtn" type="button" class="btn btn-primary">
							<span>Update</span>
							&nbsp;
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (sub modal) -->

		

<!-- ========================================================================================================================================== -->

		<!-- sub modal of basic calendar -->
		<div id="basicCalendarModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Basic calendar input form</h4>
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
						<div class="container-fluid">
							<div class="panel panel-info">
							
								<div class="panel-heading">
									<h3 class="panel-title">
										<span>Panel title</span>
									</h3>
								</div>
								<!-- /.panel-heading -->
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">ID</label>
											<div class="col-sm-10">
												<input name="BCEventId" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Title</label>
											<div class="col-sm-10">
												<input name="BCEventTitle" class="form-control" type="text" value="test" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Content</label>
											<div class="col-sm-10">
												<div id="basicCalendarInputEditor" class="form-control" contenteditable="true">test</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">All day</label>
											<div class="col-sm-10">
												<input name="BCEventAllDayToggle" class="form-control" type="checkbox" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Start</label>
											<div class="col-sm-10">
												<input name="BCEventStartDate" class="form-control" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">end</label>
											<div class="col-sm-10">
												<input name="BCEventEndDate" class="form-control" type="text" />
											</div>
										</div>
									</form>
									<!-- /form.form-horizontal -->
								</div>
								<!-- /.panel-body -->
								
								<div class="panel-footer">
									<span>Panel footer</span>
								</div>
								<!-- /.panel-footer -->
								
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button name="BCModalSaveBtn" class="btn btn-primary" type="button">
							<span>Save</span>
						</button>
						<button name="BCModalResetBtn" class="btn btn-danger" type="button">
							<span>Reset</span>
						</button>
						<button name="BCModalCloseBtn" class="btn btn-default" type="button">
							<span>Cancel</span>
						</button>
					</div>
					<!-- /.modal-footer -->
					
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->

		<!-- sub modal of basic calendar -->
		<div id="BCEventViewerModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Basic calendar event viewer</h4>
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
						<div class="container-fluid">
							<div class="panel panel-info">
							
								<div class="panel-heading">
									<h3 class="panel-title">
										<span>Panel title</span>
									</h3>
								</div>
								<!-- /.panel-heading -->
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">ID</label>
											<div class="col-sm-10">
												<input name="BCEventId" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Title</label>
											<div class="col-sm-10">
												<input name="BCEventTitle" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Content</label>
											<div class="col-sm-10">
												<div id="basicCalendarEventContentViewer" class="form-control"></div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">All day</label>
											<div class="col-sm-10">
												<input name="BCEventAllDayToggle" class="form-control" type="checkbox" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Start</label>
											<div class="col-sm-10">
												<input name="BCEventStartDate" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">end</label>
											<div class="col-sm-10">
												<input name="BCEventEndDate" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
									</form>
								</div>
								<!-- /.panel-body -->
								
								<div class="panel-footer">
									<span>Panel footer</span>
								</div>
								<!-- panel-footer -->
								
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button name="BCModalModifyBtn" class="btn btn-primary" type="button">
							<span>Modify</span>
						</button>
						<button name="BCModalDeleteBtn" class="btn btn-danger" type="button">
							<span>Delete</span>
						</button>
						<button name="BCModalCloseBtn" class="btn btn-default" type="button">
							<span>Cancel</span>
						</button>
					</div>
					<!-- /.modal-footer -->
					
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->

<!-- ========================================================================================================================================== -->

		<!-- sub modal of yearly calendar -->
		<!-- sub modal of basic calendar -->
		<div id="yearlyCalendarModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Yearly calendar input form</h4>
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
						<div class="container-fluid">
							<div class="panel panel-info">
							
								<div class="panel-heading">
									<h3 class="panel-title">
										<span>Panel title</span>
									</h3>
								</div>
								<!-- /.panel-heading -->
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">ID</label>
											<div class="col-sm-10">
												<input name="YCEventId" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Title</label>
											<div class="col-sm-10">
												<input name="YCEventTitle" class="form-control" type="text" value="test" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Content</label>
											<div class="col-sm-10">
												<div id="yearlyCalendarInputEditor" class="form-control" contenteditable="true">test</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">All day</label>
											<div class="col-sm-10">
												<input name="YCEventAllDayToggle" class="form-control" type="checkbox" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Start</label>
											<div class="col-sm-10">
												<input name="YCEventStartDate" class="form-control" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">end</label>
											<div class="col-sm-10">
												<input name="YCEventEndDate" class="form-control" type="text" />
											</div>
										</div>
									</form>
								</div>
								<!-- /.panel-body -->
								
								<div class="panel-footer">
									<span>Panel footer</span>
								</div>
								<!-- /.panel-footer-->
								
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button name="YCModalSaveBtn" class="btn btn-primary" type="button">
							<span>Save</span>
						</button>
						<button name="YCModalResetBtn" class="btn btn-danger" type="button">
							<span>Reset</span>
						</button>
						<button name="YCModalCloseBtn" class="btn btn-default" type="button">
							<span>Cancel</span>
						</button>
					</div>
					<!-- /.modal-footer -->
					
				</div>
				<!-- /.modal-content -->
				
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->
				
	</div>


	<!-- jQuery & bootstrap JS is loaded here by upper layer -->

	<!-- Custom Javascript -->
	<div layout:fragment="customScript">
		<script src="../js/utils.js" th:src="@{/js/utils.js}" type="text/javascript"></script>
		<script src="../js/effect.js" th:src="@{/js/effect.js}" type="text/javascript"></script>
		<script src="../js/board/calendar.js" th:src="@{/js/board/calendar.js}" type="text/javascript"></script>
		<script src="../js/board/board.js" th:src="@{/js/board/board.js}" type="text/javascript"></script>
	</div>
</body>
</html>