<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="member/member_main_head">
<head>
<style type="text/css">
</style>
<title>User main</title>
</head>
<body>
	<!-- Substitution of 'main' on upper layer -->
	<div layout:fragment="main">
		<div id="" class="row">
			<div id="" class="container-fluid col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
				<div class="container-fluid">
					<div class="form-group">
						<h3>test</h3>
					</div>
					<div class="form-group">
						<h3>test</h3>
					</div>
					<div class="form-group">
						<h3>test</h3>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.row -->
		
				<!-- =================================================================================================== -->

		<!-- Main modal -->
		<div id="createRoomModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active"><a href="#tabContent3" data-toggle="tab" aria-controls="tabContent3" role="tab">test</a></li>
						</ul>
						<!-- /.Nav tabs -->
					</div>
					<!-- /.modal-header -->
					<div class="modal-body">
						<!-- Tab-content -->
						<div class="tab-content">
							<!-- tabContent3 -->
							<div id="tabContent3" class="tab-pane fade in active" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-info">
										<div class="panel-heading">
											<ul class="nav nav-pills" role="tablist">
												<li role="presentation" class="active"><a href="#memoContent1" data-toggle="tab" aria-controls="memo writing" role="tab"><span class="glyphicon glyphicon-edit"></span>&nbsp;test</a></li>
											</ul>
										</div>
										<div class="panel-body">
											<!-- Tab-content -->
											<div class="tab-content">
												<form method='post'>
													<div id="" class="tab-pane fade in active" role="tabpanel">
														<input type="text" class="form-control form-group" placeholder="제목을 입력하세요." />
														<div class="pull-right">
															<button type="submit" class="btn btn-primary">create</button>
														</div>
													</div>
												</form>
											</div>
											<!-- /.tab-content -->
										</div>
										<!-- /.panel-body -->
										<div class="panel-footer">
											<button id="" class="btn btn-primary">sub button</button>
										</div>
										<!-- /.panel-footer -->
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /.tabContent3 -->
						</div>
						<!-- /.tab-content -->
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- =================================================================================================== -->
	</div>
</body>
</html>