<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
<head>

<!-- common js and css are loaded here by upper layer -->

<!-- custom elements in <head> tag -->
<!-- sockjs.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.0/sockjs.min.js" type="text/javascript"></script>

<style type="text/css">
body {
	padding-top : 60px;
}

hr {
	margin : 2px;
	border-color : #151515;
}

li {
	cursor: pointer;
}

li.dropdown-header {
	cursor: default;
}

span#loginIdDisplayMobile {
	font-style: italic;
	font-size: 17px;
	color: rgb(255, 255, 255);
}

span#loginIdDisplayDesktop {
	font-style: italic;
	font-size: 17px;
	color: rgb(0, 0, 0);
}

tr {
	cursor: pointer;
} 


.page-header {
	margin-top: 0px;
}

.page-header h3 {
	margin-top: 0px;
}

#create_board_usernamename_input {
	color: blue;
	font-weight: 700;
}

.error_container .alert {
	padding-top: 10px;
}

.error_container h3 {
	margin-top: 5px;
}

.error_container span.wrong_title {
	color: red;
	font-style: italic;
	font-size: 20px;
}
.error_container .help-block {
	margin-top: 2px;
	margin-bottom: 2px;
}

/*
.glyphicon.form-control-feedback {
	top: 25px;
}
*/
</style>
<title>Member main page</title>
</head>
<body>
	<!-- Substitution of 'body' on upper layer -->
	<div layout:fragment="body" id="" class="container-fluid">
	
		<!-- <input id="boardExists" th:value="${#httpServletRequest.getAttribute('boardExists')}" type="hidden" /> -->
	
		<div class="row">
			<nav id="" class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div id="" class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#colla-collapse-index">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="" class="navbar-brand btn" data-toggle="modal" data-target="#mainModal">
							<span>IMColla</span>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="colla-collapse-index" class="collapse navbar-collapse">

						<!-- navbar-form -->
						<div id="" class="navbar-form navbar-left">
							<div class="form-group">
								<input id="" type="text" class="form-control" size="30" placeholder="Search IMColla" />
							</div>
						</div>
						<!-- .navbar-form -->
						
						<!-- navbar left -->
						<ul class="nav navbar-nav">
							
							<!-- category button list -->
							<!-- For sm size view (the same as right below) -->
							<li class="dropdown visible-sm-block">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">sm dropdown 1<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a>Index</a>
									</li>
									<li>
										<a data-toggle="modal" data-target="#createBoardModal">Create</a>
									</li>
									<li class="divider"></li>
									<li class="divider"></li>
									<li>
										<a>sm test 3</a>
									</li>
									<li class="divider"></li>
									<li>
										<a>sm test 4</a>
									</li>
								</ul>
								<!-- /.dropdown-menu -->
							</li>
							<!-- /.dropdown.visible-sm-block -->
							
							<!-- category button list -->
							<!-- For xs, md, lg size (the same as right above) -->
							<li>
								<a class="hidden-sm" href="../index.html" th:href="@{/index}">Index</a>
							</li>
							<hr class="visible-xs-block" /><li>
								<a class="hidden-sm" data-toggle="modal" data-target="#createBoardModal">Create</a>
							</li>
							<hr class="visible-xs-block" />
							
							<li>
								<a class="hidden-sm" href="">xs, md, lg test 3</a>
							</li>
							<hr class="visible-xs-block" />
							<li>
								<a class="hidden-sm" href="">xs, md, lg test 4</a>
							</li>
							
							<hr class="visible-xs-block" />
							
							
							<!-- user utility button -->
							<!-- mobile view -->
							<li th:replace="fragments/userUtilityButtons :: userUtilityButtonMobileFragment"></li>
							<!-- /.visible-xs-block -->
							<!-- /mobile view -->
							
							
						</ul>
						<!-- /.nav.navbar-nav -->
						<!-- /navbar left -->

						
						<!-- member utility button -->
						<!-- desktop view -->
						<ul class="nav navbar-nav navbar-right">
							<li th:replace="fragments/userUtilityButtons :: userUtilityButtonDesktopFragment1"></li>
							<li th:replace="fragments/userUtilityButtons :: userUtilityButtonDesktopFragment2"></li>
						</ul>
						<!-- /.navbar right -->
						<!-- /desktop view -->
						
						
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- /.navbar -->
		</div>
		<!-- /.row -->
		
		<div class="row" ><!-- style="outline: black solid 1px;" -->
			<div class="container-fluid col-sm-2" style="outline: gold solid 1px;">
				<div class="form-group">
					<h4>test 1</h4>				
				</div>
				<div class="form-group">
					<h4>test 2</h4>				
				</div>
				<div class="form-group">
					<h4>test 3</h4>				
				</div>
			</div>
			
			<div class="container-fluid col-sm-10" ><!-- style="outline: red solid 1px;" -->
					
				<div id="boardListTableContainer" class="row">
				
					<div class="panel panel-success">
						
						<div class="panel-heading">
							<ul class="nav nav-pills">
								<li class="active">
									<a href="#boardListTableContainer_tabContent1" data-toggle="tab">My boards</a>
								</li>
								<li>
									<a href="#boardListTableContainer_tabContent2" data-toggle="tab">All boards</a>
								</li>
								<li>
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								    	Dropdown <span class="caret"></span>
								    </a>
								    <ul class="dropdown-menu">
									    <li>
									    	<a href="">tset 1</a>
									    </li>
									    <li>
									    	<a href="">test 2</a>
									    </li>
									    <li>
									    	<a href="">test 3</a>
									    </li>
									    <li role="separator" class="divider"></li>
									    <li>
									    	<a href="">test 4</a>
									    </li>
								    </ul>
								</li>
							</ul>
							<!-- /.nav nav-tabs -->
						
						</div>
						<!-- /.panel-heading -->
					
						<div class="panel-body">
							<div class="tab-content">
							
								<div id="boardListTableContainer_tabContent1" class="tab-pane fade in active" role="tabpanel">
									
									<h2>
										<span>My board list</span>
									</h2>
									
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Create</th>
												<th>Last up</th>
												<th>Up</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="board : ${userBoardList}" class="eachRowInTable">
												<td th:text="${board.getId()}" class="eachBoardIdInTable">Number</td>
												<td th:text="${board.getTitle()}">Title</td>
												<td th:text="${board.getFormattedLocalCreateDate()}">Create date</td>
												<td th:text="${board.getFormattedLocalLastUpdateDate()}">Last update date</td>
												<td th:text="${board.getUpdateCount()}">Update count</td>
											</tr>
										</tbody>
									</table>
										
								</div>
								<!-- /.tab-pane-->
						
								<div id="boardListTableContainer_tabContent2" class="tab-pane fade in" role="tabpanel">
									
									<h2>
										<span>All boards</span>
									</h2>
									
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Create</th>
												<th>Last up</th>
												<th>Up</th>
												<th>Owner</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="board : ${allBoardList}" class="eachRowInTable">
												<td th:text="${board.getId()}" class="eachBoardIdInTable">Number</td>
												<td th:text="${board.getTitle()}">Title</td>
												<td th:text="${board.getFormattedLocalCreateDate()}">Create date</td>
												<td th:text="${board.getFormattedLocalLastUpdateDate()}">Last update date</td>
												<td th:text="${board.getUpdateCount()}">Update count</td>
												<td th:text="${board.getMember().getUsername()}">Owner</td>
											</tr>
										</tbody>
									</table>
									
								</div>
								<!-- /.tab-pane-->
						
							</div>
							<!-- /.tab-content -->
						</div>
						<!-- /.panel-body -->
						
						<div class="panel-footer">
							<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createBoardModal">
								<span>Create</span>
							</button>
							<a class="btn btn-danger" type="button" href="#" th:href="@{/board/deleteAll}">
								<span>Delete all</span>
							</a>
						</div>
						
						
						
					</div>
					<!-- /.panel -->
						
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.row -->
		
<!-- ========================================================================================================================================== -->

		<!-- Create board modal -->
		<div id="createBoardModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
						
							<li role="presentation" class="active">
								<a href="#tabContent1" data-toggle="tab">
									<span>test 1</span>
								</a>
							</li>
							
							<li role="presentation" class="">
								<a href="#tabContent2" data-toggle="tab">
									<span>test 2</span>
								</a>
							</li>
							
						</ul>
						<!-- /.Nav tabs -->
					</div>
					<!-- /.modal-header -->
					
					<div class="modal-body">
						<div class="tab-content">
						
							<div id="createBoardModal_tabContent1" class="tab-pane fade in active" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-info">
									
										<div class="panel-heading">
											<ul class="nav nav-pills" role="tablist">
											
												<li role="presentation" class="active">
													<a href="#createBoardModal_tabContent1_test1" data-toggle="tab" role="tab">
														<span class="glyphicon glyphicon-edit"></span>
														&nbsp;
														<span>test 1</span>
													</a>
												</li>
												
												<li role="presentation" class="">
													<a href="#createBoardModal_tabContent1_test2" data-toggle="tab" role="tab">
														<span class="glyphicon glyphicon-edit"></span>
														&nbsp;
														<span>test 2</span>
													</a>
												</li>
												
											</ul>
											<!-- /.nav.nav-pills -->
										</div>
										<!-- /.panel-heading -->
										
										<div class="panel-body">
											<div class="tab-content">
											
												<div id="createBoardModal_tabContent1_test1" class="tab-pane fade in active" role="tabpanel">
													
													<div class="error_container" th:if="${errorMessage}">
													
														<div class="alert alert-warning alert-dismissible fade in" th:if="${blankTitleInput}">
															<button type="button" class="close" data-dismiss="alert">&times;</button>
															<h3><span><Strong>Blank title input</Strong></span></h3>
															<span th:text="${blankTitleInput}" class="wrong_title"></span><br />
															<span th:text="${errorMessage}"></span>
														</div>
														
														<div class="alert alert-warning alert-dismissible fade in" th:if="${wrongTitleInput}">
															<button type="button" class="close" data-dismiss="alert">&times;</button>
															<h3><span><Strong>Wrong title input</Strong></span></h3>
															<span th:text="${wrongTitleInput}" class="wrong_title"></span><br />
															<span th:text="${errorMessage}"></span>
														</div>
														
														<div class="alert alert-warning alert-dismissible fade in" th:if="${serverError}">
															<button type="button" class="close" data-dismiss="alert">&times;</button>
															<h3><span><Strong>Server error</Strong></span></h3>
															<span th:text="${serverError}" class="wrong_title"></span><br />
															<span th:text="${errorMessage}"></span>
														</div>
														
													</div>
													
													<div class="page-header">
														<h3>
															<span>Collaborate immediately</span>
														</h3>
													</div>
													
													<form id="createBoardForm" class="form-horizontal" action="" th:action="@{/board/create_board}" method='post'>
													
														<div class="form-group has-feedback">
															<label for="room_name_input" class="col-sm-3 col-md-2 control-label">Title</label>
															<div class="col-sm-9 col-md-10">
																<input name="boardName" class="form-control" type="text" placeholder="Insert your room name here" th:value="${wrongTitleInput}" data-error="Title is invalid" />
																<span class="glyphicon form-control-feedback"></span><!-- required="required" pattern="[a-zA-Z1-9!`~@#$%^&amp;*()-_+=]{1,200}"  -->
																<div class="help-block">client-side : any </div>
																<div class="help-block">server-side : 1 ~ 5 (no blank)</div><!-- Character range : 1 ~ 200 -->
																<div class="help-block with-errors"></div>
															</div>
														</div>
														
														<div class="form-group">
															<label for="room_name_input" class="col-sm-3 col-md-2 control-label">Owner</label>
															<div class="col-sm-9 col-md-10">
																<input name="ownerUsername" class="form-control" type="text" th:value="${principal.username}" readonly="readonly" />
															</div>
														</div>
														
														<div class="pull-right">
															<button type="submit" class="btn btn-primary">
																<span>create</span>
															</button>
														</div>
														<!-- /.pull-right -->
														
													</form>
													
												</div>
												<!-- /.tab-pane -->
												
												<div id="createBoardModal_tabContent1_test2" class="tab-pane fade" role="tabpanel">
													<form action="" method='post'>
														<input type="text" class="form-control form-group" placeholder="제목을 입력하세요." />
														<div class="pull-right">
															<button type="button" class="btn btn-primary">
																<span>create</span>
															</button>
														</div>
													</form>
												</div>
												<!-- /.tab-pane -->
												
											</div>
											<!-- /.tab-content -->
										</div>
										<!-- /.panel-body -->
										
										<div class="panel-footer">
											<button id="" class="btn btn-primary">
												<span>test</span>
											</button>
										</div>
										<!-- /.panel-footer -->
										
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /#tabContent1 -->
							
							<!-- tab content 2 -->
							<div id="createBoardModal_tabContent2" class="tab-pane fade" role="tabpanel">

							</div>
							<!-- /#tabContent2 -->
							
						</div>
						<!-- /.tab-content -->
					</div>
					<!-- /.modal-body -->
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span>Close</span>
						</button>
					</div>
					<!-- /.modal-footer -->
					
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
	</div>


	<!-- jQuery & bootstrap JS is loaded here by upper layer -->


	<!-- Custom Javascript -->
	<div layout:fragment="customScript">
		<script src="../js/utils.js" th:src="@{/js/utils.js}" type="text/javascript"></script>
		<script src="../js/notify.js" th:src="@{/js/notify.js}" type="text/javascript"></script>
		<script>
//			notify.notify("Login successful", "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + "ID : " + $(".loginIdDisplay").html());
			
			$("#createBoardModal").on("shown.bs.modal", function(event) {
				$("input[name='boardName']").focus();
			});
			
			$(document).ready(function() {
				
				
				$("tr.eachRowInTable").click(function() {
			        window.location = path.getFullContextPath() + "/board/" + $(this).find("td.eachBoardIdInTable").html();
			    });
				
				// Shows 'create board' modal if board isn't created
				if($(".error_container").find("span").text()) {
					$("#createBoardModal").modal("show");
				}
				
				/*
				// Shows 'create board' modal if board doesn't exist (URL connection)
				if($("#boardExists").val()) {
					notify.notify("test", $("boardExists").val());
					$("#createBoardModal").modal("show");
				}
				*/
				
				$("form#createBoardForm").validator().on('submit', function(e) {
					if (e.isDefaultPrevented()) {
						notify.notify('Wrong input', '잘못된 입력이 있습니다.\n수정 후 다시 시도해주세요', 'error');
					} else {
						
					}
				});
			});
		</script>
	</div>
</body>
</html>