<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--  basic settings for bootstrap -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
<!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 <![endif]-->

<!-- bootstrap.css & bootstrap theme.css -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

<!-- normalize.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet" type="text/css" />

<!-- font-awesome.css for bootstrap -->
<link href="../etc/font-awesome-4.6.3/css/font-awesome.min.css" th:href="@{/etc/font-awesome-4.6.3/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

<!-- fullcalendar.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css" rel="stylesheet" type="text/css" />

<!-- bootstrap-year-calendar.css (with js!) -->
<link href="../etc/bootstrap-year-calendar/bootstrap-year-calendar.min.css" th:href="@{/etc/bootstrap-year-calendar/bootstrap-year-calendar.min.css}" rel="stylesheet" type="text/css" />

<!-- bootstrap-datetimepicker.css (with js!) -->
<link href="../etc/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" th:href="@{/etc/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />

<!--  pnotify.css (with js!) -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css" rel="stylesheet" type="text/css" /> -->
<link href="../etc/pnotify3/pnotify.custom.min.css" th:href="@{/etc/pnotify3/pnotify.custom.min.css}" rel="stylesheet" type="text/css" />

<!-- bootstrap-editable.css (with js!) -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

<!-- bootstrap-toggle.css (with js!) -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />

<!-- floating-label.css (with js!) -->
<!-- <link href="../etc/floating-label.css" th:href="@{/etc/floating-label.css}" rel="stylesheet" type="text/css" /> -->

<!-- Custom resources (CKEditor & SockJS etc..) is loaded here by under layer -->

<title>default</title>
</head>
<body>

	<!-- replaced here by under layer -->
	<div layout:fragment="body"></div>

	<!-- jquery.js & bootstrap.js -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- respond.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

	<!-- moment.js & its lang.js & fullcalendar.js (with css) & its lang.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/ko.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-utils.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/lang/ko.js"></script>

	<!-- bootstrap-year-calendar.js (with css!) -->
	<script src="../etc/bootstrap-year-calendar/bootstrap-year-calendar.min.js" th:src="@{/etc/bootstrap-year-calendar/bootstrap-year-calendar.min.js}"></script>

	<!-- bootstrap-datetimepicker.js (with css!) -->
	<script src="../etc/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" th:src="@{/etc/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>

	<!-- notify.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

	<!-- pnotify.js (with css!) -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script> -->
	<script src="../etc/pnotify3/pnotify.custom.min.js" th:src="@{/etc/pnotify3/pnotify.custom.min.js}"></script>

	<!-- bootstrap-toggle.js (with css!) -->
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<!-- bootstrap-editable.js (with css!) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

	<!-- jqBootstrapValidation.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
	<!-- <script src="../etc/1000hz-bootstrap-validator/js.validator.js" th:src="@{/etc/1000hz-bootstrap-validator/js.validator.js}"></script> -->


	<!-- floating-label (with css!) -->
	<!-- <script src="../etc/floating-label.js" th:src="@{/etc/floating-label.js}"></script> -->
	
	
	<!-- replaced here by under layer -->
	<script layout:fragment="customScript" type="text/javascript"></script>
</body>
</html>