<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
<head>

<!-- common js and css are loaded here by upper layer -->

<!-- custom elements in <head> tag -->
<!-- sockjs.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.0/sockjs.min.js" type="text/javascript"></script>

<style type="text/css">
body {
	padding-top : 60px;
}

hr {
	margin : 2px;
	border-color : #151515;
}
</style>
<title>default_index</title>
</head>
<body>
	<!-- Substitution of 'body' on upper layer -->
	<div layout:fragment="body" id="" class="container-fluid">
		<div class="row">
			<nav id="" class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div id="" class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#colla-collapse-index">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a id="" class="navbar-brand btn" data-toggle="modal" data-target="#mainModal">IMColla</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="colla-collapse-index" class="collapse navbar-collapse">
						<!-- navbar left -->
						<ul class="nav navbar-nav">
							<!-- dropdown -->
							<li class="dropdown visible-sm-block"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a id="">test1</a></li>
									<li class="divider"></li>
									<li><a id="">test2</a></li>
									<li class="divider"></li>
									<li><a id="">test3</a></li>
									<li class="divider"></li>
									<li><a id="">test4</a></li>
									<li class="divider"></li>
									<li><a id="">test5</a></li>
									<li class="divider"></li>
									<li><a id="">test6</a></li>
									<li class="divider"></li>
									<li><a id="">test7</a></li>
									<li class="divider"></li>
									<li><a id="">test8</a></li>
								</ul></li>
							<li><a id="" name="" class="hidden-sm" href="">test1</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test2</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test3</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test4</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test5</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test6</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test7</a></li>
							<hr class="visible-xs-block" />
							<li><a id="" name="" class="hidden-sm" href="">test8</a></li>
						</ul>

						<div id="" class="navbar-form navbar-right" role="join">
							<div class="form-group">
								<input id="" type="text" class="form-control" placeholder="Search IMColla" />
							</div>
								<a class="btn btn-default hidden-xs" href="#" th:href="@{/}" type="button">Sign in</a>
								<a class="btn btn-success hidden-xs" href="#" th:href="@{/}" type="button">Sign up</a>
							<div id="signBtnsDiv" class="row visible-xs-block">
								<div class="col-xs-6">
									<a class="btn btn-default btn-block" href="#" th:href="@{/}" type="button">Sign in</a>
								</div>
								<div class="col-xs-6">
									<a class="btn btn-success btn-block" href="#" th:href="@{/}" type="button">Sign up</a>
								</div>
							</div>
						</div>

						<!-- navbar right -->
						<ul class="nav navbar-nav navbar-right">
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- /.navbar -->
		</div>
		<!-- /.row -->

		<!-- replaced here by under layer -->
		<div layout:fragment="main"></div>
	</div>


	<!-- jQuery & bootstrap JS is loaded here by upper layer -->

	<!-- Substitution of 'customScript' -->
	<div layout:fragment="customScript">
		<script src="../js/notify.js" th:src="@{/js/notify.js}" type="text/javascript"></script>
		<script>
		
		</script>
	</div>
</body>
</html>