<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default_chat">
<head>
<style type="text/css">
#mobileEditor, #memoEditor {
	overflow: auto;
	white-space: nowrap;
}

#chatArea {
	background: white;
	resize: none;
	cursor: text;
}

#memoContent2 {
	margin-bottom: 0px;
}

#memoPagination {
	margin-top: -10px;
	margin-bottom: -10px;
}

#yearlyCalendar {
	overflow: auto;
}

#BCSchFormContent {
	overflow: auto;
	white-space: nowrap;
}

#basicCalendarInputEditor {
	overflow: auto;
	white-space: nowrap;
}

#basicCalendarEventContentViewer {
	background: white;
	resize: none;
	cursor: text;
}

#BCEventViewerModal input {
	background: white;
}
</style>
<title>test</title>
</head>
<body>
	<!-- Substitution of 'main' on upper layer -->
	<div layout:fragment="main">
		<div id="mainRow" class="row">
			<div id="editorContainer" class="col-sm-9 container-fluid">
				<div id="formGroup1" class="form-group">
					<div id="basicEditorDiv" class="hidden-xs">
						<div id="basicEditor" class="form-control">basicEditor</div>
					</div>
					<div id="mobileEditorDiv" class="visible-xs-block">
						<div id="mobileEditor" class="form-control" contenteditable="true">mobileEditor</div>
					</div>
				</div>
				<div id="editorBtnGroupDiv" class="pull-right">
					<div id="btnGroup2" class="btn-group" role="group" aria-label="">
						<div class="btn-group" role="group">
							<button id="editorInputBtn" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</button>
						</div>
						<div class="btn-group" role="group">
							<button id="toolbarToggleBtn" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Hide toolbar!" data-container="body">
								<span id="toolbarToggle" class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>
							</button>
						</div>
						<div class="btn-group" role="group">
							<button id="chatNotifyToggleBtn" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Hide chat notification!" data-container="body">
								<span id="chatNotifyToggle" class="glyphicon glyphicon-eye-close"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="chatContainer" class="col-sm-3 container-fluid">
				<div id="formGroup2" class="form-group">
					<textarea id="chatArea" class="form-control" readonly="readonly"></textarea>
				</div>
				<div id="formGroup3" class="form-group">
					<input id="chatInput" name="chatInput" type="text" class="form-control" placeholder="대화 내용을 입력해주세요" />
					<!-- "javascript:if(event.keyCode==13){send();}" onkeypress="send2(event)" -->
				</div>
				<div>
					<button id="chatInputBtn" type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-send"></span>&nbsp;Send
					</button>
				</div>
			</div>
		</div>

		<!-- =================================================================================================== -->

		<!-- Main modal -->
		<div id="mainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active"><a href="#tabContent1" data-toggle="tab" aria-controls="tabContent1" role="tab">일정</a></li>
							<li role="presentation"><a href="#tabContent2" data-toggle="tab" aria-controls="tabContent2" role="tab">test</a></li>
							<li role="presentation"><a href="#tabContent3" data-toggle="tab" aria-controls="tabContent3" role="tab">메모</a></li>
							<li role="presentation"><a href="#tabContent4" data-toggle="tab" aria-controls="tabContent4" role="tab">인원</a></li>
						</ul>
						<!-- /.Nav tabs -->
					</div>
					<!-- /.modal-header -->
					<div class="modal-body">
						<!-- Tab-content -->
						<div class="tab-content">
							<!-- tabContent1 -->
							<div id="tabContent1" class="tab-pane fade in active" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-info">
										<!-- panel-heading -->
										<div class="panel-heading">
											<ul class="nav nav-pills" role="tablist">
												<li role="presentation" class="active"><a href="#calendar1" data-toggle="tab">Basic&nbsp;<span class="fa fa-refresh fa-spin fa-1x fa-fw"></span></a></li>
												<li role="presentation"><a href="#calendar2" data-toggle="tab">Year&nbsp;<span class="fa fa-refresh fa-spin fa-1x fa-fw"></span></a></li>
											</ul>
										</div>
										<div class="panel-body">
											<!-- Tab-content -->
											<div class="tab-content">
												<div id="calendar1" class="tab-pane fade in active" role="tabpanel">
													<div id="basicCalendarDiv" class="container-fluid">
														<div id="basicCalendar"></div>
													</div>
												</div>
												<div id="calendar2" class="tab-pane fade" role="tabpanel">
													<div id="yearlyCalendarDiv" class="container-fluid">
														<div id="yearlyCalendar"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- /.panel-heading -->
										<!-- panel-body -->
										<div class="panel-body"></div>
										<!-- /.panel-body -->
										<div class="panel-footer">Panel footer</div>
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /.tabContent1 -->
							<!-- tabContent2 -->
							<div id="tabContent2" class="tab-pane fade" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-primary">
										<div class="panel-heading">Panel content</div>
										<div class="panel-body">
											<a href="#" id="username">superuser</a>
										</div>
										<div class="panel-footer"></div>
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /.tabContent2 -->
							<!-- tabContent3 -->
							<div id="tabContent3" class="tab-pane fade" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-info">
										<div class="panel-heading">
											<ul class="nav nav-pills" role="tablist">
												<li role="presentation" class="active"><a href="#memoContent1" data-toggle="tab" aria-controls="memo writing" role="tab">메모 작성&nbsp;<span class="glyphicon glyphicon-edit"></span></a></li>
												<li role="presentation"><a href="#memoContent2" data-toggle="tab" aria-controls="memo list" role="tab">메모 목록&nbsp;<span class="glyphicon glyphicon-th-list"></span></a></li>
											</ul>
										</div>
										<div class="panel-body">
											<!-- Tab-content -->
											<div class="tab-content">
												<div id="memoContent1" class="tab-pane fade in active" role="tabpanel">
													<input type="text" class="form-control form-group" placeholder="제목을 입력하세요." />
													<div id="memoEditorDiv">
														<div id="memoEditor" class="form-control form-group" contenteditable="true">memoEditor</div>
													</div>
													<div class="pull-right">
														<button id="memoSaveBtn" type="button" class="btn btn-primary">
															Save&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>
														</button>
													</div>
												</div>
												<div id="memoContent2" class="tab-pane fade form-group" role="tabpanel">
													<!-- Memo arcodian list -->
													<!-- panel-group -->
													<div id="memoListAccordion" class="panel-group" role="tablist" aria-multiselectable="true">
														<!-- panel -->
														<div class="panel panel-default">
															<!-- panel-heading -->
															<div id="memoListHeading1" class="panel-heading" role="tab">
																<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#memoListAccordion" href="#memoListContent1" aria-expanded="true" aria-controls="collapseOne">Memo title 1</a>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
																	</button> <span class="close">&nbsp;</span>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
																	</button></h4>
															</div>
															<!-- /.panel-heading -->
															<!-- panel-collapse -->
															<div id="memoListContent1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="memoListHeading1">
																<div class="panel-body">Accordion test 1</div>
															</div>
															<!-- /.panel-collapse -->
														</div>
														<!-- /.panel -->
														<!-- panel -->
														<div class="panel panel-default">
															<!-- panel-heading -->
															<div id="memoListHeading2" class="panel-heading" role="tab">
																<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#memoListAccordion" href="#memoListContent2" aria-expanded="false" aria-controls="collapseTwo">Memo title 2 (table)</a>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
																	</button> <span class="close">&nbsp;</span>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
																	</button></h4>
															</div>
															<!-- /.panel-heading -->
															<!-- panel-collapse -->
															<div id="memoListContent2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="memoListHeading2">
																<div class="panel-body">
																	<p>Accordion test 2</p>
																	<div class="table-responsive">
																		<table class="table table-hover table-striped table-bordered">
																			<thead>
																				<tr>
																					<td>head 1</td>
																					<td>head 2</td>
																					<td>head 3</td>
																					<td>head 4</td>
																					<td>head 5</td>
																					<td>head 6</td>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>content 1</td>
																					<td>content 2</td>
																					<td>content 3</td>
																					<td>content 4</td>
																					<td>content 5</td>
																					<td>
																						<button type="button" class="btn btn-danger btn-xs">버튼 1</button>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																	<!-- /.table-responsive -->
																</div>
																<!-- /.panel-body -->
															</div>
															<!-- /.panel-collapse -->
														</div>
														<!-- /.panel -->
														<!-- panel -->
														<div class="panel panel-default">
															<!-- panel-heading -->
															<div id="memoListHeading3" class="panel-heading" role="tab">
																<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#memoListAccordion" href="#memoListContent3" aria-expanded="false" aria-controls="collapseThree">Memo title 3 (URL)</a>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
																	</button> <span class="close">&nbsp;</span>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
																	</button></h4>
															</div>
															<!-- /.panel-heading -->
															<!-- panel-collapse -->
															<div id="memoListContent3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="memoListHeading3">
																<div class="panel-body">
																	<p>Accordion test 3</p>
																	<p>자바 유튜브 강의입니다.</p>
																	<div class="embed-responsive embed-responsive-16by9">
																		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WPvGqX-TXP0"></iframe>
																	</div>
																	<p>
																		출처 : <a href="https://www.youtube.com/watch?v=WPvGqX-TXP0">https://www.youtube.com/watch?v=WPvGqX-TXP0</a>
																	</p>
																</div>
															</div>
															<!-- /.panel-collapse -->
														</div>
														<!-- /.panel -->
														<!-- panel -->
														<div class="panel panel-default">
															<!-- panel-heading -->
															<div id="memoListHeading4" class="panel-heading" role="tab">
																<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#memoListAccordion" href="#memoListContent4" aria-expanded="false" aria-controls="collapseFoure">Memo title 4 (URL)</a>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																	</button> <span class="close">&nbsp;</span>
																	<button type="button" class="close" aria-label="Close">
																		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
																	</button></h4>
															</div>
															<!-- /.panel-heading -->
															<!-- panel-collapse -->
															<div id="memoListContent4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="memoListHeading4">
																<div class="panel-body">
																	<p>Accordion test 4</p>
																	<p>부트스트랩 사이트입니다.</p>
																	<div class="embed-responsive embed-responsive-16by9">
																		<iframe class="embed-responsive-item" src="http://bootstrapk.com"></iframe>
																	</div>
																	<p>
																		출처 : <a href="http://bootstrapk.com">http://bootstrapk.com</a>
																	</p>
																</div>
															</div>
															<!-- /.panel-collapse -->
														</div>
														<!-- /.panel -->
													</div>
													<!-- /.panel-group -->
													<!-- pagination -->
													<div class="text-center">
														<nav class="center-block">
															<ul id="memoPagination" class="pagination pagination-sm">
																<li><a href="#" aria-label="Previous"> <span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
																<li><a href="#">1</a></li>
																<li><a href="#">2</a></li>
																<li><a href="#">3</a></li>
																<li><a href="#">4</a></li>
																<li><a href="#" aria-label="Next"> <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a></li>
															</ul>
														</nav>
													</div>
													<!-- /.pagination -->
												</div>
												<!-- /.memoContent2 -->
											</div>
											<!-- /.tab-content -->
										</div>
										<!-- /.panel-body -->
										<div class="panel-footer">
											<button id="memoFooterBtn" class="btn btn-primary">sub button</button>
										</div>
										<!-- /.panel-footer -->
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /.tabContent3 -->
							<!-- tabContent4 -->
							<div id="tabContent4" class="tab-pane fade" role="tabpanel">
								<div class="container-fluid">
									<div class="panel panel-info">
										<div class="panel-heading">
											<h4><span class="label label-primary"><span class="glyphicon glyphicon-user"></span></span>&nbsp;<strong>참여자 목록</strong></h4>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
												<div class="table-responsive">
													<table class="table table-hover table-striped">
														<thead>
															<tr>
																<td><strong>#</strong></td>
																<td><strong>ID</strong></td>
																<td><strong>Name</strong></td>
																<td><strong>Authority</strong></td>
																<td><strong>Part</strong></td>
																<td><strong>기능1</strong></td>
																<td><strong>기능2</strong></td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1</td>
																<td>Aluminum</td>
																<td>Yu</td>
																<td>Host</td>
																<td>Refactoring</td>
																<td>
																	<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="기능 1 입니다.">기능1</button>
																</td>
																<td>
																	<button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="기능 1 입니다.">기능2</button>
																</td>
															</tr>
															<tr>
																<td>2</td>
																<td>Chrome</td>
																<td>Lee</td>
																<td>Participant</td>
																<td>Grammar check</td>
																<td>
																	<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="기능 1 입니다.">
																		<span class="label fa fa-spin"><span class="glyphicon glyphicon-tag"></span></span>
																	</button>
																</td>
																<td>
																	<button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="기능 1 입니다.">
																		<span class="label fa fa-spin"><span class="glyphicon glyphicon-minus-sign"></span></span>
																	</button>
																</td>
															</tr>
															<tr>
																<td>3</td>
																<td>Titanium</td>
																<td>Park</td>
																<td>Guest</td>
																<td>none</td>
																<td>
																	<button type="button" class="btn btn-primary btn-sm">
																		기능1&nbsp;<span class="glyphicon glyphicon-bullhorn"></span>
																	</button>
																</td>
																<td>
																	<button type="button" class="btn btn-danger btn-sm">
																		기능2&nbsp;<span class="glyphicon glyphicon-minus-sign"></span>
																	</button>
																</td>
															</tr>
															<tr>
																<td>4</td>
																<td>Tungsten</td>
																<td>David</td>
																<td>Visitor</td>
																<td>None</td>
																<td>
																	<button type="button" class="btn btn-primary btn-sm">
																		기능1&nbsp;<span class="glyphicon glyphicon-send"></span>
																	</button>
																</td>
																<td>
																	<button type="button" class="btn btn-danger btn-sm">
																		기능2&nbsp;<span class="glyphicon glyphicon-ban-circle"></span>
																	</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- /.panel-body -->
										<div class="panel-footer">
											<div class="form-group">
												<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse2">기능 1 설명</button>
												<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">기능 2 설명</button>
											</div>
											<div id="collapse1" class="collapse">
												<div class="well">기능 1 설명 예시입니다.</div>
											</div>
											<div id="collapse2" class="collapse">
												<div class="well">기능 2 설명 예시입니다.</div>
											</div>
										</div>
										<!-- /.panel-footer -->
									</div>
									<!-- /.panel -->
								</div>
								<!-- /.container-fluid -->
							</div>
							<!-- /.tabContent4 -->
						</div>
						<!-- /.tab-content -->
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- =================================================================================================== -->

		<!-- sub modal in memo panel -->
		<div id="subModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Memo modal</h4>
					</div>
					<div class="modal-body">...</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (sub modal) -->

		<!-- =================================================================================================== -->

		<!-- sub modal of basic calendar -->
		<div id="basicCalendarModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Basic calendar input form</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Panel title</h3>
								</div>
								<div class="panel-body">
									<form class="form-horizontal">
										<input value="BCEventId" type="hidden" />

										<div class="form-group">
											<label class="col-sm-2 control-label" for="">ID</label>
											<div class="col-sm-10">
												<input name="BCEventId" class="form-control" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Title</label>
											<div class="col-sm-10">
												<input name="BCEventTitle" class="form-control" type="text" value="test" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Content</label>
											<div class="col-sm-10">
												<div id="basicCalendarInputEditor" class="form-control" contenteditable="true">test</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">All day</label>
											<div class="col-sm-10">
												<input name="BCEventAllDayToggle" class="form-control" type="checkbox" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Start</label>
											<div class="col-sm-10">
												<input name="BCEventStartDate" class="form-control" type="text" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">end</label>
											<div class="col-sm-10">
												<input name="BCEventEndDate" class="form-control" type="text" />
											</div>
										</div>
									</form>
								</div>
								<!-- /.panel-body -->
								<div class="panel-footer">Panel footer</div>
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button name="BCModalSaveBtn" class="btn btn-primary" type="button">Save</button>
						<button name="BCModalResetBtn" class="btn btn-danger" type="button">Reset</button>
						<button name="BCModalCloseBtn" class="btn btn-default" type="button">Cancel</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->

		<!-- sub modal of basic calendar -->
		<div id="BCEventViewerModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Basic calendar event viewer</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Panel title</h3>
								</div>
								<div class="panel-body">
									<form class="form-horizontal">
										<input value="BCEventId" type="hidden" />

										<div class="form-group">
											<label class="col-sm-2 control-label" for="">ID</label>
											<div class="col-sm-10">
												<input name="BCEventId" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Title</label>
											<div class="col-sm-10">
												<input name="BCEventTitle" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Content</label>
											<div class="col-sm-10">
												<textarea id="basicCalendarEventContentViewer" class="form-control" readonly="readonly"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">All day</label>
											<div class="col-sm-10">
												<input name="BCEventAllDayToggle" class="form-control" type="checkbox" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">Start</label>
											<div class="col-sm-10">
												<input name="BCEventStartDate" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="">end</label>
											<div class="col-sm-10">
												<input name="BCEventEndDate" class="form-control" type="text" readonly="readonly" />
											</div>
										</div>
									</form>
								</div>
								<!-- /.panel-body -->
								<div class="panel-footer">Panel footer</div>
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button name="BCModalModifyBtn" class="btn btn-primary" type="button">Modify</button>
						<button name="BCModalDeleteBtn" class="btn btn-danger" type="button">Delete</button>
						<button name="BCModalCloseBtn" class="btn btn-default" type="button">Cancel</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->

		<!-- =================================================================================================== -->

		<!-- sub modal of yearly calendar -->
		<div id="event-modal" class="modal fade" tabindex="-1" style="padding-right: 17px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title">Event</h4>
					</div>
					<div class="modal-body">
						<input value="" name="event-index" type="hidden" />
						<form class="form-horizontal">
							<div class="form-group">
								<label for="min-date" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input name="event-name" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label for="min-date" class="col-sm-2 control-label">Location</label>
								<div class="col-sm-10">
									<input name="event-location" class="form-control" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label for="min-date" class="col-sm-2 control-label">Dates</label>
								<div class="col-sm-10">
									<div class="input-group input-daterange" data-provide="datepicker">
										<input name="event-start-date" class="form-control" value="2016-05-05" type="text" />
										<span class="input-group-addon">to</span>
										<input name="event-end-date" class="form-control" value="2016-05-06" type="text" />
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button id="save-event" type="button" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal (event sub modal) -->

	</div>
</body>
</html>